.gradle/
.idea/
.intellijPlatform/
build/
out/
*.iml

.kotlin/

frontend/node_modules/
frontend/dist/
frontend/.vite/

*.log
*.tmp
*.pem
*.key
*.crt
*.p12
*.pfx

!gradle/wrapper/gradle-wrapper.jar

### Mac OS ###
.DS_Store
